<div class="d-grid justify-content-center m-4">
    <h2>Solicitar pedido</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Comida" aria-label="Comida" [(ngModel)]="comida" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="agregar()">Agregar</button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of comidas">{{ item }}</li>
    </ul>
    <button type="button" class="btn btn-outline-danger" (click)="limpiar()">Limpiar</button>
    <button type="button" class="btn btn-outline-success mb-4" (click)="enviarPedido()">Solicitar pedido</button>
    <h2>Ver pedidos por Id</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Id del pedido" aria-label="Id del pedido" [(ngModel)]="idPedido" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="pedidoPorIdRestaurante()">Restaurante</button>
        <button class="btn btn-outline-secondary" type="button" (click)="pedidoPorIdRepartidor()">Repartidor</button>
      </div>
    </div>
    <h2>Mis pedidos</h2>
    <button type="button" class="btn btn-outline-secondary" (click)="allPedidosRestaurante()">Ver pedidos restaurante</button>
    <button type="button" class="btn btn-outline-secondary" (click)="allPedidosRepartidor()">Ver pedidos repartidor</button>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Estado</th>
          <th scope="col">Pedido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedidos of misPedidos">
          <th scope="row">{{ pedidos.id }}</th>
          <td>{{ pedidos.estado }}</td>
          <td>{{ pedidos.pedido }}</td>
        </tr>
      </tbody>
    </table>
  </div>