<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>Practica 2 - Software Avanzado</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">    
</head>
<body class="frontpage" style="background-color:#F3F3F3;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-primary" role="alert">{{ message }}</div>
        {% endfor %}
    {% elif datos['url'] != "" %}
      <a id = "link" href = {{datos['url']}} target="_blank"></a>
      <script>
        document.getElementById("link").click()
      </script>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Grupo 13</a>
      </nav>
</header>	
<div class="container">
    <div style="display:flex; align-items:center; justify-content: center; min-height:90vh;">
      <form action="#" class="border p-3" method="POST">
        <div class="form-group">
          <label for="email">Usuario</label>
          <input type="text" name="user" id="user" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Rol</label>
          <input type="text" name="rol" id="rol" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" id="submit_button" name="submit_button" value="loguear">Login</button>
      </form>
    </div>
</div>
</body>
</html>