<div class="d-grid justify-content-center m-4">
    <h2>Enviar pedido a repartidor</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Id del pedido" aria-label="Id del pedido" [(ngModel)]="idPedido" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="enviar()">Enviar</button>
        </div>
    </div>
    <h2>Mis pedidos</h2>
    <button type="button" class="btn btn-outline-secondary" (click)="verPedidos()">Ver pedidos</button>
    <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Estado</th>
            <th scope="col">Pedido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedidos of misPedidos">
            <th scope="row">{{ pedidos.id }}</th>
            <td>{{ pedidos.estado }}</td>
            <td>{{ pedidos.pedido }}</td>
          </tr>
        </tbody>
      </table>
</div>
